<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Bonjour <%= @user.name %>, votre participation est en ligne.
  </body>
</html>
