<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= t('.greeting') %>
    <br>
    <%= t('.event_registration', name: @user.name) %>
    <br>
    <%#= t('.event_edit') %> <%#= link_to t(".event_here"), passenger_url(locale, @event.passenger_id) %>

  </body>
</html>
