<section class="col-left">
  <h3><%= t('about') %></h3>
  <p>
    Passengers are specific nomadic objects transmitted from hand to hand and whose course is traceable on the internet. Small sizes, designed to invite to grip, these are unique pieces hand carved wood and resin. Their shapes are inspired by both the paleolithic bifaces, the first anthropomorphic statuettes and the contemporary aesthetics of our smart-objects.
  </p>
  <p>
    Updated and made public by the participants themselves thanks to an internet address engraved on each Passenger, their respective news (location and identity of the holder) are available on this platform.
  </p>
  <p>
    Via this platform anyone wishing to host the Passenger of his choice by contacting his current holder and thus participate in its transmission.
  </p>
  <p>
    Passengers is an artwork of <a href="http://www.francoismaurin.com" target="_blank">François&nbsp;Maurin</a> in collaboration with <a href="https://www.samuelbouaroua.fr" target="_blank">Samuel&nbsp;Bouaroua</a>.
  </p>
  <br>
    <p>e-mail : contact(a)pssgrs.com</p>
  <br>
  <ul class="">
    <li>Tools : <a href="https://www.mapbox.com/" target="_blank">Map Box</a>, <a href="https://leafletjs.com/" target="_blank">Leaflet</a>, <a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap</a></li>
    <li>Webdesign : <a href="http://julesvaulont.com" target="_blank">Jules Vaulont</a></li>
  </ul>
</section>
