<section class="col-left">
  <h3><%= t('about') %></h3>
  <p>
    Les Passagers sont des objets spécifiques nomades transmis de la main à la main et dont le parcours est traçable sur internet. De petites tailles, pensés pour inviter à la préhension, ce sont des pièces uniques sculptées manuellement en bois et en résine. Leurs formes s’inspirent à la fois des bifaces du paléolithique, des premières statuettes anthropomorphes et de l’esthétique contemporaine de nos smart-objects.
  </p>
  <p>
    Mis à jour et rendus public par les participants eux-mêmes grâce à une adresse internet gravée sur chaque Passager, leurs actualités respectives (situation géographique et identité du détenteur) sont consultables sur cette plateforme.
  </p>
  <p>
    Via cette plateforme toute personne le souhaitant peut accueillir le Passager de son choix en prenant contact avec son détenteur actuel et ainsi participer à sa transmission.
  </p>
  <p>
    Les Passagers est une oeuvre de <a href="http://www.francoismaurin.com/" target="_blank">François&nbsp;Maurin</a> réalisée en collaboration avec <a href="#">Samuel&nbsp;Bouaroua</a>.
  </p>
  <br>
  <p>e-mail : contact(a)pssgrs.com</p>
  <br>
  <ul class="">
    <li>Outils : <a href="https://www.mapbox.com/" target="_blank">Map Box</a>, <a href="https://leafletjs.com/" target="_blank">Leaflet</a>, <a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap</a></li>
    <li>Webdesign : <a href="http://julesvaulont.com" target="_blank">Jules Vaulont</a></li>
  </ul>
</section>
