/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require leaflet
 *= require leaflet.markercluster
 *= require leaflet.markercluster.default
 *= require theme/bootstrap
 *= require font-awesome
 *= require animate
 */

/***** MAP *****/
.last-marker, .first-marker {
  animation: shakemarker 4s infinite cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shakemarker {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-1px, 0px) rotate(1deg); }
    30% { transform: translate(1px, 1px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 1px) rotate(-1deg); }
    60% { transform: translate(-1px, 1px) rotate(0deg); }
    70% { transform: translate(1px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(-1deg); }
 }


#map {
  margin-left: -15px;
  margin-right: -15px;
  height: calc(100vh - 100px);
}

/***** UI *****/
.btn {
   /* border-width: 2px !important; **/
}

.ui-topleft{
  z-index: 401;
  position: absolute !important;
  bottom: 0px;
  padding-bottom:22px;
  left: 0;
}

.corner {
  position: absolute;
  z-index: 1030;
  margin: 22px;
  font-size: 30px;
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'gap_sansregular', 'Poppins', monospace,'arial', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  letter-spacing: .5px;
}


.down-right {
  bottom: 0;
  right: 0;
  z-index: 1001;
}

.zoom {
  float: left;
  margin: 0;
}

.down-right .zoom:first-child {
  margin: 0 11px 0 0;
}

.down-left {
  bottom: 0;
  left: 0;
}

.down-left ul li {
  margin-right: 11px;
  float: left;
  padding: 11px;
  background: white;
  border: 2px solid #181818;
  line-height: 1em;
}

.down-left ul li.small {
  font-size: 17.5px;
  line-height: 1em;
  text-transform: uppercase;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 22px 22px;
}

.navbar-header {
    padding: 22px;
    padding-left:22px;

}

.navbar-brand {
  padding: 11px !important;
  border: 2px solid #000000;
  background-color: #FFFFFF;
  font-size: 30px !important;
  font-family: 'gap_sansregular', 'Poppins', monospace,'arial', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}


/** MODALES **/
.modal-backdrop {
    z-index: 400;
}

.modal-backdrop.in {
    filter: alpha(opacity=0.4);
    opacity: 0.4;
    z-index: 1030;
}

.modal.fade .modal-dialog
{
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;

    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  border-left: 2px solid #181818;
  position: fixed;
  margin: auto;
  width: 75%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
  left: -320px;
  -webkit-transition: opacity 0s linear, left 0s ease-out;
     -moz-transition: opacity 0s linear, left 0s ease-out;
       -o-transition: opacity 0s linear, left 0s ease-out;
          transition: opacity 0s linear, left 0s ease-out;
}

.modal.left.fade.in .modal-dialog{
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -75%;
  -webkit-transition: opacity 0s linear, right 0s ease-out;
     -moz-transition: opacity 0s linear, right 0s ease-out;
       -o-transition: opacity 0s linear, right 0s ease-out;
          transition: opacity 0s linear, right 0s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

.fade {
  -moz-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;

  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
}
.modal-content {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}

/* USER REGISTRATION */

#event_address {
  max-width: 84%;
  display: inline-block;
}

.pac-container:after{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.fa-marker {
    margin: 0 10px;
}

@keyframes fadeIn {
  from { opacity: 0.6; transform: scale(1.3); }
}

.animate-flicker {
    animation: fadeIn 750ms infinite alternate;
}


/* sharing buttons */
#share  {
padding-bottom: 10px;
padding-top: 10px;
 }
#share .fa {
  height: auto;
  padding: 10px;
  border-radius: 30px;
  font-size: 21px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

#share .fa:hover {
    opacity: 0.7;
    text-decoration: none;
}


#share .fa-facebook {
    background: #3B5998;
    color: white;
}

#share .fa-twitter {
    background: #55ACEE;
    color: white;
}

#share .fa-linkedin {
  background: #007bb5;
  color: white;
}
/*PASSENGER SHOW */
#passenger_image {
max-height: 75vh;
max-width: 75vh;
}
/* EVENTS INDEX */
.container .product {
  height: 250px;
  display: flex;
  margin: 1em 0;
  overflow: hidden;
  box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.15);
}

.container .product .img-container {
  flex: 2;
}
.container .product .img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.container .product .product-info {
  background: #fff;
  flex: 3;
}
.container .product .product-info .product-content {
  padding: .2em 0 .2em 1em;
}

.container .product .product-info .product-content p {
  width: 90%;
}
.container .product .product-info .product-content ul li {
  margin-left: 0;
}
.container .product .product-info .product-content .buttons {
  padding-top: .4em;
}
.container .product .product-info .product-content .buttons .button {
  padding: .3em .65em;
}
.container .product .product-info .product-content .buttons .add {
  border: 1px #5e5e5e solid;
}
.container .product .product-info .product-content .buttons #price {
  margin-left: 4em;
  border: 1px solid rgba(137, 137, 137, 0.2);
  background: rgba(137, 137, 137, 0.04);
}

.add_user_img {
font-size:2em;
line-height: 31px;
}

.passenger_thumb {
  display: inline !important;
  margin-right:10px;
}

 .vcenter {
   text-align: center;
   position: relative;
   top: 50%;
   -ms-transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
 }

/* VOLET */

.col-right {
  border-left: 1px solid #181818;
  position: absolute;
  top: 0;
  right: 0;
  overflow-y:scroll;
  height: 100%;
  width: 50%;
  padding: 22px 22px 0 22px;
}

.col-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: white;
  padding: 22px 22px 0 22px;
  z-index: 1;
  border-right: 1px solid #181818;
  overflow-y:scroll;
}

.col-left ul.imprint {
  margin-bottom: 33px;
}

.col-left ul.imprint li:before {
  content: "•";
  margin: 0 11px 0 0 ;
}

.col-left ul.imprint .gap {
  font-size: 16.5px;
  font-family: 'gap_sansregular', 'Poppins', monospace,'arial', sans-serif;
}

.tab {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.cell {
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid rgba(81, 81, 81, .3);
  padding: 5.5px 0 5.5px 0;
  line-height: 22px;
  float: left;
  display: block;
}

.cell:first-of-type {
  padding: 0 0 5.5px 0;
}

.cell:last-child {
  border-bottom: none;
}

.col-1,
.col-2,
.col-3 {
  width: 33.333333333333333%;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.col-3 {
  text-align: right;
}
