/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require leaflet
 *= require leaflet.markercluster
 *= require leaflet.markercluster.default
 *= require font-awesome
 */

#event_address {
  max-width: 84%;
  display: inline-block;
}

.fa-marker {
    margin: 0 10px;
}

@keyframes fadeIn {
  from { opacity: 0.6; transform: scale(1.3); }
}

.animate-flicker {
    animation: fadeIn 750ms infinite alternate;
}
