<%# add navigation links to this file %>
<li><%= link_to t('passengers'), passengers_path %></li>
<li><%= link_to t('events'), events_path %></li>
<li><%= link_to t('about'), page_path('about') %></li>
