<%# add navigation links to this file %>
<li><%= link_to t('events'), events_path %></li>
<li><%= link_to t('about'), page_path('about') %></li>
<% if I18n.locale == :en %>
<li><%= link_to 'FR', url_for(:locale => 'fr') %></li>
<% end %>

<% if I18n.locale == :fr %>
<li><%= link_to 'EN', url_for(:locale => 'en') %></li>
<% end %>
