<div class="corner down-right">
  <span class="wiggle zoom zoomin"><%= image_tag("zoomin.svg", :alt => "Zoom in", class: "infoBtn") %></span>
  <span class="wiggle zoom zoomout"><%= image_tag("zoomout.svg", :alt => "Zoom out", class: "infoBtn") %></span>
</div>
